APP_ENV=development
APP_URL_DEV=http://localhost/certificate-portal
APP_URL_PROD=https://app.glajoeservices.com.ng

DB_HOST=localhost

DB_NAME_DEV=glajoe
DB_USER_DEV=root
DB_PASS_DEV=

DB_NAME_PROD=
DB_USER_PROD=
DB_PASS_PROD=

RESEND_API_KEY=
RESEND_FROM=Glajoe Services <no-reply@glajoeservices.com.ng>
